*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#141e30 10%, #243b55 110%);
    min-height: 100vh;
}

.card{
    position: relative;
    width: 80vw;
    min-height: 90vh;
    background:rgb(10, 5, 37);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    border-style: solid;

    border-width: 5px;
    border-image:linear-gradient(to bottom left, #8e2de2, #4a00e0) 1;
}

h1{
    font-size: 1em;
}

p{
    color: rgb(189, 189, 189);
    text-align: center;
}

footer{
    color: rgb(102, 102, 102);
    text-align: center;
}
li{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    flex-flow: row wrap;
}

li a{
    padding: 20px;
    
}


svg{
    display: block;
    fill: rgb(255, 255, 255);
}

.profile{
    flex-grow: 1;
}
.divider {
    border: 0;
    border-top: 4px solid #262357;
    margin: 40px;
    border-radius: 4px;

  }