*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-image: linear-gradient(to right, #251f64,  #421c32 );
}


.card{
    animation: trans_up 1s;

    overflow: hidden;
    display: inline-grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: row;
    position: relative;
    width: 80vw;
    min-height: 85vh;

    border: double 0.35em transparent;
    border-radius: 6px;
    background-image: linear-gradient(#272727,#272727), linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 0 24px rgba(0,0,0,0.4) inset, rgba(0, 0, 0, 0.5) 0px 8px 60px;

}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    flex:60%;
}
.icons{
    flex: 40%;
}
/* # - # - # -# - # - # Card grid # - # - # -# - # - # */
.section1{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #6d6d6d;
    margin-right:30px;
    margin-left:30px;
}
@media (max-width: 800px) {
    .section1 {
      flex-direction: column;
    }
  }
.section2{
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #6d6d6d;
    margin-right:30px;
    margin-left:30px;
}

.footer{
    display: flex;
    justify-content:center; 
    align-items: center;
    display: flex;
    
}
.footer p{
    padding-bottom: 10px;
    align-self: last baseline;
    color: rgb(102, 102, 102);
    text-align: center;
}
/* # - # - # -# - # - # Card grid END # - # - # -# - # - # */

h1{
    font-size: 1em;
}

p{
    color: rgb(189, 189, 189);
    text-align: center;
}


li{
    animation: trans_right 0.75s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    flex-flow: row wrap;
}

li a{
    padding: 20px;
    transition: all .2s ease-in-out; 
}


svg{
    display: block;
    fill: rgb(255, 255, 255);
}
li a:hover{
    transform: scale(1.2);
}

.profile{
    
    flex-grow: 1;
}

.divider {
    border-right: 1px solid #DEDEDE;
    margin-right:-10px; /* size of gutter */
    padding-right:10px; /* size of gutter */

  }

/* Animations */
@keyframes trans_up{
    from{
        opacity: 0;
        transform:translateY(50px);
    }
    to{
        opacity: 1;
        transform:translateY(0);
    }
}

@keyframes trans_right{
    from{
        opacity: 0;
        transform:translateX(10px);
    }
    to{
        opacity: 1;
        transform:translateX(0);
    }
}