*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #251f64,  #421c32 );
    min-height: 100vh;
}

.card{
    display: inline-grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: row;

    position: relative;
    width: 80vw;
    min-height: 90vh;
    background:#272727;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/* # - # - # -# - # - # Card grid # - # - # -# - # - # */
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-bottom: 1px solid #6d6d6d;
    margin-right:30px;
    margin-left:30px;
}

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #6d6d6d;
    margin-right:30px;
    margin-left:30px;
}

.footer{
    display: flex;
    justify-content:center; 
    align-items: center;
    display: flex;
}
.footer p{
    padding-bottom: 10px;
    align-self: last baseline;
    color: rgb(102, 102, 102);
    text-align: center;
}
/* # - # - # -# - # - # Card grid END # - # - # -# - # - # */

h1{
    font-size: 1em;
}

p{
    color: rgb(189, 189, 189);
    text-align: center;
}


li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    flex-flow: row wrap;
}

li a{
    padding: 20px;
    
}


svg{
    display: block;
    fill: rgb(255, 255, 255);
}

.profile{
    flex-grow: 1;
}

.divider {
    border-right: 1px solid #DEDEDE;
    margin-right:-10px; /* size of gutter */
    padding-right:10px; /* size of gutter */

  }